*{
  box-sizing:border-box;
}

html {
  font-size: 100%;
}

body{
    background-image:url("galaxy.gif");
    background-size: cover;

    height: 100vh;
    padding:0;
    margin:0;
}

p{
  font-size: 5rem;
  font-family: 'Varela Round', sans-serif;
  color:rgba(190, 186, 94, 0.95);
}

.spoon{
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:-1;
}

.a{
  transform:skewX(40deg);
  position: fixed;
  margin-left:200px;
  margin-top:500px;
  filter:blur(2px);
}

.c{
  position:fixed;
  transform:skewX(20deg);
  transform: rotate(-60deg);
  margin-left:600px;
  margin-top:700px;
}

.q{
  position: fixed;
  margin-left:400px;
  margin-top:100px;
  transform: rotate(-50deg);
  transform:skewX(20deg)
}

.v{
  position: fixed;
  margin-left:700px;
  margin-top:300px;
  transform: rotate(-20deg);
  transform:skewX(-20deg)
}
.m{
  position: fixed;
  margin-left:50px;
  margin-top:60px;
  transform: rotate(50deg);
  transform:skewX(30deg)
}

.k{
  position: fixed;
  margin-left:200px;
  margin-top:60px;
  transform: rotate(20deg);
  transform:skewX(30deg)
}

.h{
  position: fixed;
  margin-left:100px;
  margin-top:200px;
  transform: rotate(-50deg);
  transform:skewX(-20deg)
}

.j{
  position: fixed;
  margin-left:350px;
  margin-top:600px;
  transform: rotate(-10deg);
  transform:skewX(30deg)
}

.x{
  position: fixed;
  margin-left:700px;
  margin-top:100px;
  transform: rotate(-70deg);
  transform:skewX(20deg)
}

.t{
  position: fixed;
  margin-left:800px;
  margin-top:700px;
  transform: rotate(-60deg);
  transform:skewX(30deg)
}

.b{
  position: fixed;
  margin-left:500px;
  margin-top:200px;
  transform: rotate(-50deg);
  transform:skewX(-10deg)
}

.f{
  position: fixed;
  margin-left:950px;
  margin-top:600px;
  transform: rotate(70deg);
  transform:skewX(20deg)
}

.y{
  position: fixed;
  margin-left:100px;
  margin-top:450px;
  transform: rotate(30deg);
  transform:skewX(10deg)
}

.l{
  position: fixed;
  margin-left:150px;
  margin-top:650px;
  transform: rotate(40deg);
  transform:skewX(30deg)
}

.r{
  position: fixed;
  margin-left:250px;
  margin-top:250px;
  transform: rotate(50deg);
  transform:skewX(25deg)
}

.box{
  margin-left: 10%;
  width:400px;
  padding-right:150px;
}

#phrase {
  font-size: 1.5rem;
  font-family: 'Varela Round', sans-serif;
  color:#c6bf40;
  cursor: pointer;
  position: absolute;
  top:50%;
  left:20%;
  transform: translate(-50%, -50%);
}

/* this will make it so that when you click it won't select the text and add a background color */
#phrase::selection {
  background: transparent;
}

@media screen and (orientation: portrait) {
  .spoon{
    transform:rotate(-270deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
  }
  #phrase{

  }
}
