 body{
  background:mediumseagreen;
  font-family: monospace;
}

h1{
  color:darkgreen;
  font-size: 60px;
  margin-left: 20px;
}

ul{
  font-size: 30px;
  list-style-type: " ⤖";
  color:darkgreen;
}

a{
  text-decoration: none;
  color: darkmagenta;
  font-style: italic;
  font-size:30px;
}

.back{
  margin-left: 20px;
}

p{
  margin-left:40px;
  margin-right: 40px;
  font-size:20px;
  color:darkslategray;
}

img{
  max-width:100%;
  width:800px;
  margin:0 auto;
  display: block;
}

a:hover{
  color:hotpink;
}

.box{
  width:100vw;
  height:400px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.circle{
  background: darkmagenta;
  width:200px;
  height:200px;
  border-radius:50%;
  animation: pulse 3s ease infinite alternate;
}

@keyframes pulse {
  0% {
    background: darkmagenta;
    transform:scale(1);
  }
  100%{
    background: gold;
    transform:scale(2);
  }
}
